@media screen and (min-width: 240px) and (max-width: 960px) {
    body {
        background: #000 url("https://s2.ax1x.com/2019/03/05/kju4un.jpg") no-repeat;
        background-size: 100%;
    }

    span {
        margin-left: 4px;
    }

    h1 {
        margin-bottom: 60px;
    }

    h4 {
        width: 160px;
        color: #00BFFF;
        background-color: #000;
        border: 1px solid #00BFFF;
    }

    h4:hover {
        color: #fff;
        background-color: #00BFFF;
        border: 1px solid #fff;
    }

    a {
        width: 100px;
        color: #E667AF;
        background-color: #000;
        border: 1px solid #E667AF;
        text-align: center;
        margin: 4px 0px 4px 8px;
    }

    a:hover {
        color: #fff;
        background-color: #E667AF;
        border: 1px solid #fff;
    }
}
