* {
    margin: 0px;
    padding: 0px;
}

body {
    background:#000 url("https://s2.ax1x.com/2019/03/05/kju5Bq.png") no-repeat;
    background-size: 100%;
}

span {
    display: inline-block;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 60px;
}

h4 {
    color: #fff;
    background-color: #00BFFF;
    border: 1px solid #FFC125;
    border-radius: 6px;
    width: 80px;
    margin-left: 10px;
    margin-right: 4px;
    padding: 6px 0px;
    float: left;
    text-align: center;
}

h4:hover {
    color: #00BFFF;
    background-color: #fff;
    border: 1px solid #00BFFF;
}

a {
    color: #fff;
    background-color: #E667AF;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 2px 0px 2px 6px;;
    padding: 4px 8px;
    text-decoration: none;
    float: left;
}

a:hover {
    color: #E667AF;
    background-color: #fff;
    border: 1px solid #E667AF;
}
